<% if current_user %>
  <div class="section section-margin section-concerts-list section-concerts-fav section-gray">
    <div class="container">
      <h2>Concerts de <span><%= current_user.fav %></span></h2>
      <div class="row">
        <% @concerts_fav.each do |concert| %>
            <div class="concert-card col-xs-12 col-sm-4 xol-md-3">
              <% if current_user && current_user.admin %>
                  <div class="concert-card-delete">
                    <%= link_to "X", concert, :confirm => "Confirm?", :method => :delete %>
                  </div>
              <% end %>
              <div class="concert-card-image" style="background: url(<%= concert.cover %>); background-size: cover; background-position: center;"></div>
              <div class="concert-card-infos">
                <h2 class="concert-card-title"><%= link_to "#{concert.title}", concert %></h2>
                <p class="concert-card-descr"><%= concert.description %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="section section-margin section-fav-disconnect section-gray">
    <div class="container">
      <p>TicketMaster vous propose une expérience personnalisée, avec des propositions en rapport avec vos goûts !<br/>Pour cela, il vous suffit de vous connecter ou de vous inscrire si ce n'est toujours pas fait !</p>
    </div>
  </div>
<% end %>
<div class="section section-concerts-list">
  <div class="container">
    <h2><span>Tous</span> les concerts</h2>
    <div class="row">
      <% @concerts.each do |concert| %>
          <div class="concert-card col-xs-12 col-sm-4 xol-md-3">
            <% if current_user && current_user.admin %>
                <div class="concert-card-delete">
                  <%= link_to "X", concert, :confirm => "Confirm?", :method => :delete %>
                </div>
            <% end %>
            <div class="concert-card-image" style="background: url(<%= concert.cover %>); background-size: cover; background-position: center;"></div>
            <div class="concert-card-infos">
              <h2 class="concert-card-title"><%= link_to "#{concert.title}", concert %></h2>
              <p class="concert-card-descr"><%= concert.description %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>