<!DOCTYPE html>
<html>
  <head>
    <title>Ticketmaster</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Vous êtes connecté en temps que <%= current_user.email %>
      <%= current_user.tickets.count %>
      <%= link_to "Déconnexion", logout_path %>
    <% else %>
      <%= link_to "S'inscrire", signup_path %>
      <%= link_to "Se connecter", login_path%>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <!-- <%= form_tag concerts_path, :methode =>'get' do %>
   		<%= text_field_tag :search, params[:search] %>
   		<%= submit_tag "Search" %>
   	<% end %> -->

    <%= yield %>

  </body>
</html>
