<!DOCTYPE html>
<html>
  <head>
    <title>Ticketmaster</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <%= stylesheet_link_tag    "bootstrap.min" %>
    <%= stylesheet_link_tag    "app" %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <h1 class="header-title"><%= link_to "TicketMaster", "/" %></h1>
        <ul class="header-nav">
          <% if current_user %>
              <li class="header-nav-item header-hi"><%= link_to "Salut #{current_user.email}", "/users/#{current_user.id}" %></li>
              <% if current_user.admin %>
                  <li class="header-nav-item header-add"><%= link_to "Ajouter un concert", "/concerts/new"%></li>
              <% end %>
              <li class="header-nav-item header-disconnect"><%= link_to "Se déconnecter", logout_path %></li>
          <% else %>
              <li class="header-nav-item header-signup"><%= link_to "S'inscrire", signup_path %></li>
              <li class="header-nav-item header-login"><%= link_to "Se connecter", login_path %></li>
          <% end %>
          <li class="header-nav-item">
            <form><input type="text" name="search" id="search" class="header-search" placeholder="Rechercher..."></form>
            <div class="header-search-result">
              <button data-close>X</button>
              <!-- search results -->
            </div>
          </li>
        </ul>
      </div>
    </header>

    <div class="debug"></div>

    <div class="app-flashes">
      <% flash.each do |name, msg| %>
          <div class="app-flash app-flash-<%= name %>">
            <p><%= msg %></p>
            <button class="app-flash-close">X</button>
          </div>
      <% end %>
    </div>



    <!-- <%= form_tag concerts_path, :methode =>'get' do %>
   		<%= text_field_tag :search, params[:search] %>
   		<%= submit_tag "Search" %>
   	<% end %> -->

    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= javascript_include_tag "moment" %>
    <%= javascript_include_tag "moment.lang.fr" %>
    <%= javascript_include_tag "app" %>
  </body>
</html>
